.collection-item, .card {
    margin: 20px;
}

li#list-stuff, #beer-view {
    background:  #cdcecf;
}
.logo {
    min-height: 90px;
     padding: 20px;
}
#dynoCard {
    border: none;
}
#beer-form {
    margin-top: 110px;
     color: white;
}

li.collection-item {
    margin: 20px;

}
.card {
    margin: 10px;
}
.card-image{
    max-height: 200px;
  
    display: block;
    margin: auto;
    padding: 10px;
}
.introheader {
    margin: 10px;
    text-align: center
}