// Color Variables
$primary-color: #E0CB77; // Golden Yellow

// Responsive Breakpoint Variables
$break-large: "handheld, only screen and (max-width: 1100px)"; // 1100
$break-mid: "handheld, only screen and (max-width: 867px)";  // 867
$break-small: "handheld, only screen and (max-width: 500px)";  // 500

// Transition mixins
@mixin transitionShort{
	-webkit-transition:all 0.1s ease-in-out;
	   -moz-transition:all 0.1s ease-in-out;
	        transition:all 0.1s ease-in-out;
}

// *********************************************
// Overlay Mixin
// This is where all the overlay magic Happens!!!
// *********************************************
@mixin dark-overlay{
	&:after{
		content: "";
		width: 50%;
		height: auto;
		position: absolute;
		z-index: -1; 
    // Take note of this negative z-index and copare to each article's positive z-index. This helps your content to show up over the overlay.
     top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}
.content{
    margin-top:100px;
}
h2{
  color:white;
  margin-bottom: 20px;
}
article{
  margin-top:10px;
}

// A Simple Overlay
.full-overlay{
  position: relative;
  z-index: 1;
  height:350px;
  text-align: center;
  padding:40px;
  background:url("images/man.jpg") no-repeat;
  background-size: cover;
  @include dark-overlay;
}
.full-overlay:after{
  background:rgba(0, 0, 0, 0.75);
}

// A CSS Gradient Overlay
.gradient-overlay{
  position: relative;
  z-index: 1;
  height:350px;
  text-align: center;
  padding:40px;
  background:url("images/man.jpg") no-repeat;
  background-size: cover;
  @include dark-overlay;
}
.gradient-overlay:after{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

// A Photo Overlay
.photo-overlay{
  position: relative;
  z-index: 1;
  height:350px;
  text-align: center;
  padding:40px;
  background:url("images/man.jpg") no-repeat;
  background-size: cover;
  @include dark-overlay;
}
.photo-overlay:after{
  background:url("images/man.jpg") no-repeat;
  opacity:0.5;
  background-size:cover;
}

// General button style (reset)
html .btn {
	border: 3px solid $primary-color;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: white ;
	background: transparent;
	cursor: pointer;
	padding: 1.4rem 4rem;
	display:inline-block;
	text-align:center;
	margin:0;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	border-radius:2px;
	@include transitionShort;
	@media #{$break-mid} {
		font-size:80%;
	}
	&:hover{
		background:lighten($primary-color, 5%);
		color: darken($primary-color, 35%) ;
	}
}